* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
  margin:0px;
  height:100%;
}

h1 {
  margin: 0;
  width: 100%;
}

/* #calculator div {
  padding: 30px 10px;
} */

#calculator div:first-child {
  grid-column-start: 1;
  grid-column-end: 5;
  border: 2px solid black;
  text-align: right;
  font-size: 50px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  padding-right: 30px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  height: 100%;
}

#calculator {
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-template-rows: 30% 10% 10% 10% 10% 10%;
  border: 4px solid black;
  height: 100%;
  grid-gap: 4% 4%;
  background-color: aliceblue;
}

.button {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px darkgray;
  background-color: lightblue;
  font-size: 6vw;
  text-align: center;
  transition: 0.5s ease;
}

.button:not(.selected):hover {
  background-color: #8ac7db;
}

.button:active {
  box-shadow: 1px 1px 1px 2px #333 inset;
  background-color: #4fabc9 !important;
}

#eq {
  grid-column-start: 2;
  grid-column-end: 5;
}

.button.selected {
  background-color: #4fabc9;
}

@media screen and (min-width: 500px) {
  #calculator {
    width: 500px;
  }
  .button {
    font-size: 30px;
  }
}